/*------------*/
/* Base Rules */
/*------------*/

body
{
	/*font-family: 'Arsenal', sans-serif;*/
	font-family: 'Slabo 27px', serif;
	/*font-family: 'Playfair Display', serif;*/
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}


/*--------------*/
/* Layout Rules */
/*--------------*/

#header
{
	padding: 10px 0;
	font-family: 'Lobster Two', cursive;
	font-weight: normal;
	text-align: center;
}

#main-content
{
	max-width: 800px;
	margin: auto;
	font-family: 'Slabo 27px', serif;
	font-size: 24px;
}

.l-panel
{
	padding: 10px 0;
}


/*--------------*/
/* Module Rules */
/*--------------*/

.stitch
{
	border: 1px solid black;
	padding: 5px;
	margin: 2px;
	background: #9999FF;
}

.stitch-is-selected
{
	background: #FF99CC;	
}

.row
{
	padding: 10px 0;
}

.row-is-selected
{
	border: 1px solid black;
	padding: 10px;
	background: #66CC99;
}

/*-------------*/
/* State Rules */
/*-------------*/

.is-hidden { display: none; }